<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf/org">
<head>
<meta charset="UTF-8">
<title>당근 마켓</title>
<link rel="stylesheet" type="text/css" href="css/admin.css">
<script type="text/javascript" src="js/projectMove.js"></script>
</head>
<body>
	<table id="adminHeader">
		<tr>
			<td>
				<table id="adminLogo">
					<tr>
						<td align="center" class="goMain">
			            	<a id="goMain" href="/">
			            		<img alt="" src="img/carrot.png" class="image-button">
			            	</a>
			         	</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td align="right">
				<a th:text="${session.loginMember.id}" class="adminBtn" href="member.info.go"></a>
				<a class="adminBtn" href="member.logout">로그아웃</a>
			</td>
		</tr>
		<tr>
			<td>
			<div id="adminResult">[[${result}]]</div>
				<table id="adminMenu">
					<tr>
						<td align="center">
							<div>회원 관리</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<table id="adminContent">
      <tr>
         <td align="center" th:insert="~{${adminContentPage}}"></td>
      </tr>
   </table>
</body>
</html>