<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
function addWishlist(productIdd){
	location.href="/wishlist.add?productId="+productIdd;
}
function removeWishlist(productIdd){
	location.href="/wishlist.remove?productId="+productIdd;
}

function setupHeartToggle(heartButton,productId) {
	const heartIcon = heartButton.querySelector('.heart-icon');
	const isHeartActive = localStorage.getItem(`heart_${productId}`) === 'true';
	
	// 초기 상태 설정
    if (isHeartActive) {
        heartIcon.classList.add('active');
    } else {
        heartIcon.classList.remove('active');
    }
	
	heartButton.addEventListener('click', function() {
		event.stopPropagation();
		if (heartIcon.classList.contains('active')) {
			
			localStorage.setItem(`heart_${productId}`, 'false');
			heartIcon.classList.remove('active');
            removeWishlist(productId);
        } else {
        	localStorage.setItem(`heart_${productId}`, 'true');
        	heartIcon.classList.add('active');
            addWishlist(productId);
        }
	});
}

function goDetail(n, m){
	location.href="go.detail?id=" + n +"&category=" + m;
	
}



	
	
</script>

</head>
<body>
	<div th:if="${#lists.isEmpty(products)}" id="noProductDiv">
		<p align="center">검색된 상품이 없습니다.</p>
	</div>
	<div th:unless="${#lists.isEmpty(products)}" id="productDiv">
		<table id="productTbl" th:each="p:${products}"
		 th:onclick="goDetail([[${p.productId}]], '[[${p.category}]]');">
			<tr>
				<td colspan="2">
					<div>
						<!-- [[${p.photo}]] -->
						<img th:src="${'/photo/'+p.photo}" width="100%" height="200px">
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<!-- <div th:text="${p.id}"></div> -->

					<div th:text="${p.name}"></div>
				</td>
			<tr>
				<td style="font-weight: bold;" colspan="2">
					<div th:text="${p.price}+'원'"></div>
				</td>
			</tr>
			<tr>
				<td style="font-weight: bold;" colspan="2">
					<div th:text="${p.state}"></div>
				</td>
				
			</tr>
			<tr>
				<td style="font-size: 7px">
					<div th:text="${p.loc}"></div>
				</td>
				<td style="font-size: 5px" align="right">
					<div th:text="${p.daysAgo}"></div>
				</td>
			</tr>
			<tr>
				<td style="font-size: 5px">
					<div th:text="'조회 '+${p.view}"></div>
				</td>
				<td align="right">
					<button th:if="${session.loginMember!=null}" 
					id="heartButton" class="heart-button" 
					th:data-product-id="${p.productId}">
						<span id="heartIcon" class="heart-icon"></span>
					</button>
				</td>
			</tr>
		</table>
	</div>
	<script>
	const heartButtons = document.querySelectorAll('.heart-button');
	heartButtons.forEach(function(heartButton) {
	    const productId = heartButton.getAttribute('data-product-id');
	    setupHeartToggle(heartButton, productId);
	});
	
	function getRelativeTime(serverDate) {
	    // 서버에서 전달한 날짜를 JavaScript Date 객체로 변환
	    const serverDateTime = new Date(serverDate);
	    alert(serverDateTime);
	    // 현재 시간을 가져옵니다.
	    const currentDate = new Date();
		alert(currentDate);

	    // 시간 차이를 계산합니다.
	    const timeDifferenceMillis = currentDate - serverDateTime;

	    // 밀리초를 시간으로 변환합니다.
	    const timeDifferenceHours = Math.floor(timeDifferenceMillis / (1000 * 60 * 60));
	    const timeDifferenceDays = Math.floor(timeDifferenceHours / 24);

	    // 결과를 반환합니다.
	    if (timeDifferenceDays === 0) {
	        if (timeDifferenceHours === 0) {
	            return "방금 전";
	        } else {
	            return timeDifferenceHours + "시간 전";
	        }
	    } else {
	        return timeDifferenceDays + "일 전";
	    }
	}

	</script>
</body>
</html>