<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="csskwon/report.css">
<script type="text/javascript"></script>
<script type="text/javascript" src="jskwon/carrotCheck.js"></script>
<script type="text/javascript" src="jskwon/carrotValidCheck.js"></script>
</head>
<body>
<form action="do.report" method="post" enctype="multipart/form-data" onsubmit="return reportCheck(this);">
	<table id="reportTbl">
		<tr hidden>
			<td>
				<input name="writerId" th:value="${session.loginMember.id}">
			</td>
		</tr>
		<tr>
			<td>
				신고 대상  
				<input name=reportedId th:value="${ppp.id}" readonly>
			</td>
		</tr>
		<tr>
			<td>
				카테고리
				<select name="category">
						<option>카테고리를 선택하세요.</option>
						<option>---------------------------------</option>
						<option>허위</option>
						<option>전문 판매 업자</option>
						<option>욕설</option>
						<option>불건전</option>
						<option>광고</option>
						<option>기타</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>
				제목
				<input name="title" placeholder="제목을 입력하세요.">
			</td>
		</tr>
		<tr>
			<td>
				내용<p>
				<textarea name="text" placeholder="내용을 입력하세요(최대 500자)." maxlength="500">
				</textarea>
			</td>
		</tr>
		<tr>
			<td>
				사진 첨부 : 
				<input name="photoo" type="file">
				<button>등록</button>
			</td>
		</tr>
	</table>
</form>
</body>
</html>